{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block body %}

<!-- it is carusel to display images or ads -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="/static/images/image.png" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
          <img src="/static/images/image1.png" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
          <img src="/static/images/image2.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
          <img src="/static/images/image3.png" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
          <img src="/static/images/image4.png" class="d-block w-100" height="500" alt="...">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
<section>
  <article>
    <h1>London</h1>
    <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan
      area of over 13 million inhabitants.</p>
    <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to
      its founding by the Romans, who named it Londinium.</p>
  </article>
</section>

{% endblock %}